:root[data-theme="light"] {
    --bg: #f3f2f8;
    --bg_hover: #eae9ef;
    --bg-text-dim: #616161; /* All expressions, Tab hover */
    --theme-btn-text: #a8a8a8;
    --theme-btn-shadow: #a8a8a888;
    --dim-btn: #f9f8fa;
    --dim-btn_hover: #f5f6f9;
    --dim-btn_click: #f4f4fa;
    --dim-btn-text_click: #5f5f5f;
    --dig-btn: #ffffff;
    --dig-btn_hover: #fcfcfd;
    --dig-btn_click: #f8f8fc;
    --dig-btn-text_click: #5e5e60;
    --err-btn: #9c9c9c;
    --blue: #0067c0;        /* Equal button, Tab underline */
    --blue_hover: #1975C5;
    --blue_click: #3083CB;
    --blue-text_click: #c0d9ef;
    --tab: #1b1b1b;
    --tab_click: #8c8c90;
    --del-btn: #1f1f1f;
    --del-btn_click: #656668;
    --plain-text: #000000;

    & * {
        color: black;
    }
}

:root[data-theme="dark"] {
    --bg: #202020;
    --bg_hover: #2d2d2f;
    --bg-text-dim: #a4a4a4; /* All expressions, Tab hover */

    --theme-btn-text: #484848;
    --theme-btn-shadow: #48484888;

    --dim-btn: #323232;
    --dim-btn_hover: #3b3b3b;
    --dim-btn_click: #323232;
    --dim-btn-text_click: #afafb1;

    --dig-btn: #3b3b3b;
    --dig-btn_hover: #323232;
    --dig-btn_click: #282828;
    --dig-btn-text_click: #cccccc;

    --err-btn: #6b6b6b;

    --blue: #4cc2ff;        /* Equal button, Tab underline */
    --blue_hover: #47b1e9;
    --blue_click: #42a1d3;
    --blue-text_click: #286280;

    --tab: #f4f4f4;
    --tab_click: #7f7f81;
    --del-btn: #f1f1f1;
    --del-btn_click: #bbbbbb;

    --plain-text: #ffffff;

    & * {
        color: white;
    }
}

:root {
    --heading-font: 1.25rem;
    --output-exp-font: 0.9375rem:
    --output-type-font: 4.5rem;
    --dig-btn-font: 1.375rem;
    --dim-btn-font: 1.375rem;
    --equal-btn-font: 1.25rem;
    --icon-btn-font: 1.1875rem;
    --sign-btn-font: 1.625rem;
    --hist-exp-font: 0.875rem;
    --hist-result-font: 1.25rem;
    --hist-del-btn-font: 1.125rem;
    --tab-btn-font: 0.875rem;
    --empty-msg-font: 0.875rem;
    --clear-btn-font: 1.25rem;
    --reciproc-btn-font: 1.125rem;
    --sqr-btn-font: 1rem;
}


* {
    margin: 0;
    padding: 0;
    line-height: 1;
    position: relative;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

legend {
    display: none;
}

body {
    display: flex;
    background-color: var(--bg);
    overflow: hidden;
}
main {
    width: clamp(100vw - 20rem, 57.3vw, 100vw - 15rem);
    height: 100vh;
}

fieldset {
    border: none;
}

button {
    line-height: 1;
}

.icon-btn {
    font-family: "Segoe Icons" !important;
}

#title-bar {
    height: 6vh;
    padding-top: 1rem;
    padding-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    & h3 {
        line-height: 1;
        margin-top: -0.0625rem;
        font-weight: 600;
        font-size: var(--heading-font);
        text-transform: capitalize;
    }
}

#theme-btn {
    width: 58px;
    height: 32.5px;
    padding: 0 2px;
    background-color: var(--bg);
    border-radius: 100px;
    border: none;
    box-shadow: 0px 0px 1px 0.5px var(--theme-btn-shadow);
    &:active span {
        background-color: var(--plain-text);
    }

    & > p, & > i{
        line-height: 1;
        color: var(--theme-btn-text);
    }

    & p {
        font-size: 15px;
        font-family: 'Segoe Icons';
    }

    & i {
        margin-bottom: -1px;
        font-size: 17px;
    }

    & > p {
        position: absolute;
        top: 9px;
        left: 6px;
        width: 19px;
        height: 19px;
    }

    & > i {
        position: absolute;
        top: 8px;
        right: 6px;
        width: 19px;
        height: 19px;
    }
    
    & span {
        position: absolute;
        top: 3px;
        width: 26px;
        height: 26px;
        border-radius: 50px;
        background-color: var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        & p, i {
            color: var(--bg);
        }
    }
}

#output-bar {
    height: 20.7vh;
    width: 100%;
    padding-right: 0.75rem;
    padding-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: end;

    & #exp {
        min-height: 0.875rem;
        font-size: var(--output-exp-font);
        letter-spacing: -0.1px;
        color: var(--bg-text-dim);
    }

    & #type {
        height: 100%;
        padding-top: 0.75rem;
        font-size: var(--output-type-font);
        font-weight: 600;
        line-height: 1;
    }
}

#tool-bar {
    height: 6.5vh;
    padding: 0 0.25rem;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;

    & fieldset {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
    }

    & button {
        height: 100%;
        width: clamp(3.6875rem, 20%, 4.8125rem);
        background-color: transparent;
        border-radius: 0.25rem;
        border: none;

        &:hover {
            background-color: var(--bg_hover);
        }
    }

    & .disabled-btn {
        color: var(--tab_click);
        &:hover {
            background-color: var(--bg);
        }
    }

    & #m-view-btn {
        display: none;
    }
}

#buttons-panel {
    display: grid;
    width: 100%;
    height: 66.8vh;
    padding: 0.125rem 0.25rem 0.25rem 0.25rem;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    & div, fieldset {
        display: grid;
    }

    & #clear-btns {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 1 / 2 / 2 / 5;
    }
    
    & #adv-ops-1 {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        grid-area: 1 / 1 / 2 / 2;
    }

    & #adv-ops-2 {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 2 / 1 / 3 / 4 ;
    }

    & #basic-ops {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-area: 2 / 4 / 6 / 5 ;
    }

    & #digits {
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-area: 3 / 1 / 7 / 4 ;

        & button {
            font-size: var(--dig-btn-font);
            background-color: var(--dig-btn);
        }

        & button:hover {
            background-color: var(--dig-btn_hover);
        }

        & button:active, & button.active {
            color: var(--dig-btn-text_click);
            background-color: var(--dig-btn_click);
        }
    }

    & #equal-btn {
        grid-area: 6 / 4 / 7 / 5;
        background-color: var(--blue);
        color: var(--dim-btn);
        font-size: var(--equal-btn-font) !important;
        font-weight: 500;
        border: 1px solid var(--blue) !important;

        &:hover {
            background-color: var(--blue_hover);
            border: 1px solid var(--blue_hover) !important;
        }

        &:active, &.active{
            color: var(--blue-text_click);
            background-color: var(--blue_click);
            border: 1px solid var(--blue_click) !important;
        }
    }

    & button {
        margin: 0.0625rem ;
        font-size: var(--dim-btn-font);
        border-radius: 0.3125rem;
        background-color: var(--dim-btn);
        border: none;
        &:hover {
            background-color: var(--dim-btn_hover);
        }
        &:active, &.active {
            color: var(--dim-btn-text_click);
            background-color: var(--dim-btn_click);
            & * {
                color: var(--dig-btn-text_click);
            }
        }
    }

    & div > .icon-btn, fieldset > .icon-btn {
        font-size: var(--icon-btn-font) !important;
    }

    & #sign-btn {
        font-size: var(--sign-btn-font) !important;
    }

    & #reciprocal-btn, sup {
        font-family: 'Times New Roman', Times, serif;
    }

    & #reciprocal-btn > sup {
        margin-right: -2px;
        font-size: var(--reciproc-btn-font);
    }

    & #sqr-btn sup {
        margin-left: 2px;
        font-size: var(--sqr-btn-font);
    }

    & #clear-btns button {
        font-size: var(--clear-btn-font);
    }
}

:root[data-theme="light"] #buttons-panel{
    & button {
        border: 1px solid #e4e4e4;
        border-bottom: 1px solid #cccccc !important;
    }
}

#storage-panel {
    display: flex;
    flex-direction: column;
    width: clamp(15rem, 42.7vw, 20rem);
    padding-top: 0.625rem;

    & #tab-bar {
        display: flex;
        margin-bottom: 0.625rem;

        & button {
            padding: 0.5rem 0.8125rem 0 0.8125rem;
            font-size: 0.875rem;
            text-transform: capitalize;
            background-color: transparent;
            border: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.625rem;

            &:hover {
                color: var(--bg-text-dim);
            }

            &:active {
                color: var(--tab_click);
            }
        }

        & .active::after {
            content: '';
            height: 0.225rem;
            width: 1.0625rem;
            border-radius: 0.25rem;
            background-color: var(--blue);
            z-index: 1;
        }

        & .active:hover::after {
             background-color: var(--blue_hover);
        }

        & .active:active::after {
             background-color: var(--blue_click);
        }
    }
    
    & #history {
        height: 100%;
        padding-top: 0.5rem;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        & #empty-msg {
            padding-top: 0.5rem;
            padding-left: 0.875rem;
            display: flex;
            font-size: 0.875rem;
        }

        & #history-list {
            height: calc(100vh - 9rem);
            overflow-y: scroll;
        }

        & .item {
            margin-bottom: 1.375rem;
            padding: 0.625rem 0.75rem 0.5rem 0rem;
            display: flex;
            flex-direction: column;
            align-items: end;
            gap: 0.5rem;
            border-radius: 0.25rem;

            & .h-exp {
                font-size: 0.875rem;
                color: var(--bg-text-dim);
            }

            & .h-result {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1;
            }

            &:hover {
                background-color: var(--bg_hover);
            }
        }

        & #footer {
            position: absolute;
            right: 0.25rem;
            bottom: 0.25rem;
            height: 3rem;
            width: 100%;
            display: flex;
            justify-content: end;
            background-color: var(--bg);
        }


        & #del-history-btn {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 1.125rem;
            border-radius: 0.25rem;
            border: none;
            color: var(--del-btn);
            background-color: var(--bg);
            
            &:hover {
                background-color: var(--bg_hover);
            }

            &:active {
                color: var(--del-btn_click);
            }
        }
    }
}

/* --------------------------------------------------------------------------------- */
/* --------------------------------- MEDIA QUERIES --------------------------------- */
/* --------------------------------------------------------------------------------- */

@media (max-height: 680px) {
    #output-bar #type {
        font-size: 3rem;
    }
}

@media (min-width: 800px) and (min-height: 670px) {

    :root {
        --dig-btn-font: 1.375rem;
        --dim-btn-font: 1.375rem;
        --icon-btn-font: 1.1875rem;
        --equal-btn-font: 1.25rem;
        --clear-btn-font: 1.25rem;
        --sign-btn-font: 1.625rem;
        --reciproc-btn-font: 1.125rem;
        --sqr-btn-font: 1rem;
    }
}

@media (max-width: 800px) {

    :root {
        --dig-btn-font: 1.125rem;
        --dim-btn-font: 1rem;
        --clear-btn-font: 0.9375rem;
        --icon-btn-font: 0.875rem;
        --equal-btn-font: 1rem;
        --sign-btn-font: 1.3125rem;
        --reciproc-btn-font: 0.75rem;
        --sqr-btn-font: 0.6875rem;
    }
}

@media (max-width: 560px) {

    :root {
        --dig-btn-font: 1.375rem;
        --dim-btn-font: 1.375rem;
        --icon-btn-font: 1.1875rem;
        --equal-btn-font: 1.25rem;
        --clear-btn-font: 1.25rem;
        --sign-btn-font: 1.625rem;
        --reciproc-btn-font: 1.125rem;
        --sqr-btn-font: 1rem;
    }

    main {
        width: 100vw;
    }

    #m-view-btn {
        display: block !important;
    }

    #storage-panel {
        position: absolute;
        display: none;
        & > * {
            visibility: hidden;
        }
    }
}

@media (max-width: 500px), (max-height: 670px) {

    :root {
        --dig-btn-font: 1.125rem;
        --dim-btn-font: 1rem;
        --clear-btn-font: 0.9375rem;
        --icon-btn-font: 0.875rem;
        --equal-btn-font: 1rem;
        --sign-btn-font: 1.3125rem;
        --reciproc-btn-font: 0.75rem;
        --sqr-btn-font: 0.6875rem;
    }
}


:root[data-theme="light"] .in-error-state {
    border: 1px solid #e4e4e4 !important;
}

.in-error-state, .in-error-state > sup {
    color: var(--err-btn) !important;
    background-color: var(--dig-btn_click) !important;

    &:hover, &:active {
        color: var(--err-btn) !important;
        background-color: var(--dig-btn_click) !important;
    }
}